# Prueba: cada minuto debe mostrar un log
* * * * * echo "$(date '+%Y-%m-%d %H:%M:%S') - CRON test ejecutado"

# Publicación a la 1 PM Bogotá
0 13 * * * echo "$(date '+%Y-%m-%d %H:%M:%S') - Publicar 13:00" && curl -s https://pos-feed-instagram.fly.dev/publicar_ahora

# Publicación a las 6 PM Bogotá
0 18 * * * echo "$(date '+%Y-%m-%d %H:%M:%S') - Publicar 18:00" && curl -s https://pos-feed-instagram.fly.dev/publicar_ahora
